:root {
    --mainWhite: rgb(12, 4, 8);
    --mainGreen: #b88d00;
    --mainBlue: hsl(150, 73%, 19%);
    --lightBlue: #ed4b00;
    --mainBlack: #9e425e;
}

.max-height {
    min-height: 100vh;
}

body {
    background: url("../mp1images/pexels-photo-132197.jpg") center/cover fixed no-repeat;
    color: var(--mainWhite);
}

.main-container {
    border: 0.1rem solid var(--mainWhite);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.9);
    border-radius: 0.2rem;
}

#counter {
    color: var(--mainGreen);
    font-size: 10rem;
    color: var(--mainBlack);
}

.prevBtn,
.nextBtn {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
    background: var(--mainBlue);
    color: var(--mainWhite);
}

.prevBtn:hover {
    background: var(--lightBlue);
}

.nextBtn:hover {
    background: var(--lightBlue);
}